<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
    <property name="info_path" value="./logs/"/>

    <!-- 文件輸出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                [%-5level] [%date{yyyy-MM-dd HH:mm:ss:SSS}] %msg%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
            <!--<immediateFlush>false</immediateFlush> immediateFlush属性：是否将日志立刻写入磁盘，默认为true。 -->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily 配置日志所生成的目录以及生成文件名的规则 -->
            <fileNamePattern>${info_path}/iotInfo_Lwm2m_zh_${port_ip}_%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <!-- append如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。-->
        <append>true</append>
        <!-- 如果是 true，日志会被安全的写入文件，即使其他的FileAppender也在向此文件做写入操作，效率低，默认是 false -->
        <prudent>true</prudent>
    </appender>

    <!-- 控制台輸出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--        <level>debug</level>-->
<!--        <onMatch>ACCEPT</onMatch>-->
<!--        <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->

    </appender>

    <logger name="org.springframework" level="debug" additivity="true"></logger>
    <logger name="org.hibernate" level="WARN" additivity="true"></logger>
    <logger name="ch.qos.logback" level="WARN" additivity="true"></logger>
    <logger name="com.netflix.discovery" level="WARN" additivity="true"></logger>
    <logger name="org.apache" level="WARN" additivity="true"></logger>
    <logger name="com.netflix" level="ERROR" additivity="true"></logger>
    <logger name="com.abupdate.iot.lwm2m" level="debug" additivity="true"></logger>

    <!--<root level="debug">-->
    <!--<appender-ref ref ="console"/>-->
    <!--<appender-ref ref ="file"/>-->
    <!--</root>-->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref ="file"/>
    </root>
</configuration>
